$black: #2e323f;
$dark: #3b4050;
$grey: #6f737f;
$white: #ffffff;
$gold: #a59678;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@mixin font1 {
	font-family: 'Oswald';
	font-size: 18px;
	font-weight: bold;
}
@mixin font2 {
	font-family: 'Oswald';
	font-size: 90px;
	font-weight: bold;
}
@mixin font3 {
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 400;
}
@mixin font4 {
	font-family: 'Oswald';
	font-size: 24px;
	font-weight: bold;
}
@mixin font5 {
	font-family: 'Oswald';
	font-size: 30px;
	font-weight: bold;
}
@mixin font5p {
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
}
@mixin font6 {
	font-family: 'Oswald';
	font-size: 36px;
	font-weight: bold;
}
@mixin font6p {
	font-family: 'Montserrat';
	font-size: 21px;
	font-weight: 400;
}
@mixin font7 {
	font-family: 'Oswald';
	font-size: 30px;
	font-weight: bold;
}
@mixin font7p {
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
}
@mixin font8 {
	font-family: 'Oswald';
	font-size: 24px;
	font-weight: bold;
}
@mixin font9 {
	font-family: 'Oswald';
	font-size: 21px;
	font-weight: bold;
}
@mixin font9p {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 400;
}

body {
	background-color: $black;
}
